<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <!-- 左側（空欄） -->
        <div class="col-md-4">
        </div>
        <!-- 中央 -->
        <div class="col-md-4">
          <div class="col-md-8 col-md-offset-2 login-form">
            <h3 class="text-center text-white">ログイン</h1>

            <%= form_for :session , url: users_auth_path do |f|%>
              <div class="form-group">
                <%= f.label :name, class: 'text-white'%>
                <%= f.text_field :name, class: 'form-control'%>
              </div>
              <div class="form-group">
                <%= f.label :password,class: "text-white"%>
                <%= f.password_field :password,class: "form-control" %>
              </div>
              <%= f.submit "Log in",class: "btn btn-block btn-primary"%>
            <% end %>

          </div>
        </div>
        <!-- 右側(空欄) -->
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>
